h1 {
    color: magenta;
    text-align: center;
    font-family: Verdana;
    letter-spacing: 20px;
    
}

h2{
    color:rgb(0, 238, 255);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

h3{
    color:rgb(0, 238, 255);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

ul{
    width:30%;
    margin: 20px auto;
}

ul, li{
    text-align:center;
}
button {
    text-align: center;
    transition: all 0.5s;
    padding: 1em 1em;
    background-color: whitesmoke;
    border-color:white;
    border-style: solid;
    /*transition:margin-left 2s;*/
    
}
button.b1{
    margin: -4.65em 13em;
}
button.b2{
    margin: -5.8em 31em;
}
button.b3{
    margin-top:-93.5px;
    margin-left: 635px;
}
button.gal{
    margin-left: 885px;
    margin-top:-109.5px;
}
body{
    background: url("") repeat;
    background-color:whitesmoke;
    padding: 30px 100px;
    border-color:rgb(82, 13, 13);
    border-style:double;
    
}

p{
    color: brown;
}

button:hover {
    background-color:whitesmoke;
    border-color: brown;
    box-shadow: 0 0.5em 0.5em -0.4em brown;
    color:grey;
    cursor:pointer;
    transform: translateY(-0.5em);
    /*border-radius: 30%;
    margin-left:300px;*/
}
/*button:active {
    background-color:black;
    color:red;
}*/

section button{
    top:150px;
    left:200px;
    width: 100px;
}
#sign{
    position:static;
    top:150px;
}

table{
    background-color: gray;
    border-collapse: collapse;
    height: 100px;
    width: 500px;

}
th{
    background-color: rgb(226, 222, 222);
    border-color: gray;
    border-style: inset;
    color: rgb(99, 23, 23);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    background-color: whitesmoke;
    color:gray;
    text-align: center;
}
a.a1 a.a2 a.a3 {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: gray;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    font-size: 15px;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  
  img {
    display: block;
    width: 25%;
    margin: 10px auto;
    border-radius: 30px;
  }
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
   
    margin-left: 0%;
}
#img5:checked ~ .m5 {
    margin-left: 0%;
}
