body{
    background: url("s.png");
    max-width: auto;
    max-height: auto;
}

h1{
    text-align:center;
    color: rgb(253, 0, 0);
    font-weight: 1500;
    height: 100;
    width:auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 3.5vw;
    padding-top: 30px;
    text-shadow: 1.5px 1.5px white;
}
h2{
    text-align:center;
    color: rgb(228, 253, 0);
    font-weight: 1500;
    height: 100;
    width:auto;
    font-size: 3vw;
    padding-top: 0px;
    margin-top:0px;
    display:block;
    text-shadow: 2px 2px darkblue;
    
}
a.c{
    text-align:center;
    background: rgba(255, 255, 255, 0.2);
    align-items:center;
    border-radius: 60px;
    padding: 20px;
    margin-left: 460px;
    color:rgba(255, 255, 255, 0.801);
    font-weight:bold;
    text-decoration: none;
    outline: black solid 2px;
    text-shadow: 1.5px 1.5px black;
}
a.c:hover{
    background-color: black;
    color:white;
}
a.d{
    text-align:center;
    background: rgba(255, 255, 255, 0.2);
    align-items:center;
    border-radius: 60px;
    padding: 20px;
    margin-left: 75px;
    color:rgba(255, 255, 255, 0.801);
    font-weight:bold;
    text-decoration: none;
    outline: black solid 2px;
    text-shadow: 1.5px 1.5px black;
}
a.d:hover{
    background-color: black;
    color:white;
}
footer{
    padding-top:200px;
    padding-left: 450px;
    color:rgb(226, 216, 216);
    display:block;
    max-width:auto;
    max-height:auto;
}
a{
    color:rgb(226, 216, 216);
}
