* {
    box-sizing: border-box;
  }
  body{
    background: url("s.png");
    max-width: auto;
    max-height: auto;
}

h1{
    text-align:center;
    color: rgb(253, 0, 0);
    font-weight: 1500;
    height: 100;
    width:auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 3.5vw;
    padding-top: 30px;
    text-shadow: 1.5px 1.5px white;
}
h2{
    text-align:center;
    color: rgb(228, 253, 0);
    font-weight: 1500;
    height: 100;
    width:auto;
    font-size: 3vw;
    padding-top: 0px;
    margin-top:0px;
    display:block;
    text-shadow: 2px 2px darkblue;
    
}
a.c{
    text-align:center;
    background: rgba(255, 255, 255, 0.2);
    align-items:center;
    border-radius: 60px;
    padding: 20px;
    position: absolute;
    left: 270px;
    bottom:300px;
    color:rgba(255, 255, 255, 0.801);
    font-weight:bold;
    text-decoration: none;
    border: black solid 2px;
    text-shadow: 1.5px 1.5px black;
    display: inline-block;
    width:180px;
}
a.c:hover{
    background-color: black;
    color:white;
}
a.d{
    text-align:center;
    background: rgba(255, 255, 255, 0.2);
    align-items:center;
    border-radius: 60px;
    padding: 20px;
    position: absolute;
    right: 580px;
    bottom:300px;
    color:rgba(255, 255, 255, 0.801);
    font-weight:bold;
    text-decoration: none;
    border: black solid 2px;
    text-shadow: 1.5px 1.5px black;
    display: inline-block;
    width:180px;
   
}
a.d:hover{
    background-color: black;
    color:white;
}
a.e{
    text-align:center;
    background: rgba(255, 255, 255, 0.2);
    align-items:center;
    border-radius: 60px;
    padding: 20px;
    position: absolute;
    right: 300px;
    bottom:300px;
    color:rgba(255, 255, 255, 0.801);
    font-weight:bold;
    text-decoration: none;
    border: black solid 2px;
    text-shadow: 1.5px 1.5px black;
    display: inline-block;
    width:180px;
   
}
a.e:hover{
    background-color: black;
    color:white;
}
a.git{
    size: 30px;
    background-color: white;
    border: black solid 2px;
    width:53px;
    border-radius: 13px;
    padding: auto;
    margin-left: 50%;
    margin-top: 10%;
    display:block;
}
a.git:hover{
    background-color: gray;
    border: black solid 2px;
    width:53px;
    border-radius: 13px;
}
footer{
    position: absolute;
    right: 430px;
    bottom:30px;
    color:rgb(226, 216, 216);
    display:block;
    max-width:200vw;
    max-height:auto;
    position:fixed;
}
a{
    color:rgb(226, 216, 216);
}
@media (max-width: 768px) {
    .c{
        width:30px;
        margin-left: -420px;
        margin-bottom:50px;
        align-items: center;
        display:block;
    }
}
@media (max-width: 768px) {
    .d{
        width:20px;
        margin-right: -400px;
        margin-bottom:50px;
        align-items: center;
        display:block;
    }
}
