h1 {
    color: magenta;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    letter-spacing: 20px;
    
}

h2{
    color:rgb(0, 238, 255);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

h3{
    color:rgb(0, 238, 255);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

button.b1{
    margin: auto;
    width:21%;
    text-align: center;
    transition: all 0.5s;
    padding: 1em 1em;
    background-color: whitesmoke;
    align-items: center;
    display:block;
    border: none;
}
button.b2{
    margin:auto;
    width: 19%;
    text-align: center;
    transition: all 0.5s;
    padding: 1em 1em;
    background-color: whitesmoke;
    align-items: center;
    display:block;
    border: none;
}
button.b3{
    margin: auto;
    width: 23%;
    text-align: center;
    transition: all 0.5s;
    padding: 1em 1em;
    background-color: whitesmoke;
    align-items: center;
    display:block;
    border: none;
}
body{
    background: url("") repeat;
    background-color:whitesmoke;
    padding: 30px 100px;
    border-color:rgb(82, 13, 13);
    border-style:double;
    
}

p{
    color: brown;
    text-align: center;
}
button{
        background-color:whitesmoke;
        border: 1px solid whitesmoke;
        box-shadow: 0 0.5em 0.5em -0.4em brown;
        color:grey;
        cursor:pointer;
        padding: 1em;
        /*border-radius: 30%;
        margin-left:300px;*/
}
button:hover {
    background-color:whitesmoke;
    border: 1px solid whitesmoke;
    box-shadow: 0 0.5em 0.5em -0.4em brown;
    color:grey;
    cursor:pointer;
    transform: translateY(-0.3em);
    padding: 1em;
    /*border-radius: 30%;
    margin-left:300px;*/
}
/*button:active {
    background-color:black;
    color:red;
}*/

section button{
    top:150px;
    left:200px;
    width: 100px;
    padding: 1em;
}
#sign{
    position:static;
    top:150px;
}

table{
    background-color: gray;
    border-collapse: collapse;
    height: 20%;
    width: 60%;

}
th{
    background-color: rgb(226, 222, 222);
    border-color: gray;
    border-style: inset;
    color: rgb(99, 23, 23);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    background-color: whitesmoke;
    color:gray;
    text-align: center;
}
a.a1 a.a2 a.a3 {
    color: green;
  }
  .git:visited{
    color:rgb(143, 74, 233);
  }
  .home:visited{
    color:rgb(143, 74, 233);
  }
  .gal:visited{
    color:rgb(143, 74, 233);
  }
  .write:visited{
    color:rgb(143, 74, 233);
  }
  .card:visited{
    color:rgb(143, 74, 233);
  }
  /* visited link */
  a:visited {
    color: black;
  }
  .git{
    color:gray;
    text-decoration: none;
  }
  .home{
    color:gray;
    text-decoration: none;
  }
  .gal{
    color:gray;
    text-decoration: none;
  }
  .write{
    color:gray;
    text-decoration: none;
  }
  .card{
    color:gray;
    text-decoration: none;
  }
  a:hover{
    color: red;
  }
  a{
    color:rgb(185, 152, 157);
  }
  /* mouse over link */
  .write:hover {
    color: hotpink;
    font-size: 18px;
  }
  .gal:hover {
    color: hotpink;
    font-size: 18px;
  }
  .home:hover {
    color: hotpink;
    font-size: 18px;
  }
  .git:hover {
    color: hotpink;
    font-size: 18px;
  }
  .card:hover {
    color: hotpink;
    font-size: 18px;
  }
  /* selected link */

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -1%;
    border-radius: 5%;
  }

  nav{
    display:flex;
    justify-content:center;
}
ul {
    flex: 1;
    max-width:50%;
    display:flex;
    justify-content:center;
}
ul,li{
    display:flex;
    margin:0;
    padding:0;
    justify-content:center;
}
@media (max-width: 768px) {
    h1{
        font-size: 20px;
        text-align: center;
    }
}
@media (max-width: 768px) {
    nav, nav ul{
        flex-direction:column;
        align-items: center;
        
    }
}
@media (max-width: 768px) {
   h1, img{
        width: 250px;
        height:150px;
        align-items: center;
        display:block;
    }
}
@media (max-width: 768px) {
    .b1{
         font-size:12px;
         margin: auto;
         text-align: center;
         transition: all 0.5s;
         flex-direction: column;
         align-items: center;
     }
 }
 @media (max-width: 768px) {
    .b2{
         flex-direction: column;
         align-items: center;
         font-size:12px;
         margin: auto;
         text-align: center;
         transition: all 0.5s;
     }
 }
 @media (max-width: 768px) {
    .b3{
         font-size:12px;
         margin: auto;
         text-align: center;
         transition: all 0.5s;
         flex-direction: column;
         align-items: center;
     }
 }
