body{
  background: white;
}
*{
  margin:0;
  padding:0;
  list-style:none;
  box-sizing: border-box;
  text-decoration: none;
  
}
h2{
    color:rgb(1, 1, 95);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 32%;
    right: 16.5%;
    font-size: 34px;
    font-weight: bold;
}
.bio{
  color:black;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  top: 40%;
  right: 16px;
  font-size: 20px;
  right: 2%;
  width: 505px;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  font-style: italic;
}

h3{
    color:rgb(1, 1, 95);
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 65%;
    right: 22%;
    font-size: 25px;
    font-weight: bold;
  
}
.w1{
  color:black;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  top: 69%;
  right: 16px;
  font-size: 20px;
  right: 2%;
  width: 493px;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  font-style: italic;
}
.w2{
  color:black;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  top: 74%;
  right: 16px;
  font-size: 20px;
  right: 2%;
  width: 493px;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  font-style: italic;
}
.w3{
  color:black;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  top: 79%;
  right: 16px;
  font-size: 20px;
  right: 2%;
  width: 493px;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  font-style: italic;
}
.w4{
  color:black;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  top: 84%;
  right: 16px;
  font-size: 20px;
  right: 2%;
  width: 493px;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  font-style: italic;
}
#sign{
    position:static;
    top:150px;
}
.att{
  align-items: center;
}
img { 
  width: 100%;
  height: auto;
  opacity: 0.4;
}
header{
  width: 100%;
  height: 80px;
  background: rgb(206, 206, 206);
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  opacity: 0.9;
  box-shadow: 0px 0px 19px 5px rgb(240, 241, 159);
}
.name{
  font-size:30px;
  font-weight:bold;
  color:rgb(0, 0, 0);
  margin:auto;
  background: rgb(206, 206, 206);
}
.whole{
  display:none;
  background: rgb(206, 206, 206);
}
.bar ul{
  display: flex;
  background: rgb(206, 206, 206);
}
.bar ul li a{
  display: block;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding:10px 25px;
  border-radius:50px;
  transition: 0.3s;
  margin: 0 5px;
  background: rgb(206, 206, 206);
}
.bar ul li a:hover{
  color:gray;
  background:whitesmoke;
}
.bar ul li a:active{
  color:gray;
  background:whitesmoke;
}
@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
  header{
      padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .whole{
      display: block;
      cursor:pointer;
  }
  .whole .line{
    width:30px;
    height:30px;
    margin:6px 0;
    background-color:white;
  }
  .bar{
    position:absolute;
    width: 100vw;
    top:80px;
    transition: 0.2s;
    overflow: hidden;
    left:0;
    right:0;
    height:0;

  }
  .bar ul{
    display: block;
    width:fit-content;
    text-align:center;
    opacity:0;
    margin:80px auto 0 auto;
    transition: 0.5s;
  }
  .bar ul li a{
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .bio{
      width:300px;
      font-size:14px;
      margin:auto;
      left:0;
      top: 55%;
  }
  h2{
    width:300px;
    font-size:20px;
    margin:auto;
    left:0;
    top: 50%;
  }
  h3{
  width:150px;
  font-size:20px;
  margin:auto;
  left:0;
  top: 75%;
  }
  .w1{
    width:300px;
    font-size:14px;
    margin:auto;
    left:0;
    top: 80%;
  }
  .w2{
  width:300px;
  font-size:14px;
  margin:auto;
  left:0;
  top: 85%;
  }
  .w3{
  width:300px;
  font-size:14px;
  margin:auto;
  left:0;
  top: 90%;
  }
  .w4{
  width:300px;
  font-size:14px;
  margin:auto;
  left:0;
  top: 95%;
  }
}
@media only screen and (max-width: 700px) {
  img{
      width:400px;
      height:230px;
      align-items: center;
      
  }
}
